body{
    background-color: #f3f3f3;
}
.logo{
    width: 65px;
    height: 30px;
}
.main{
    background: #fff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
.form-container{
    width: 500px;
    margin: 0 auto;
}
.page-title{
    text-align: center;
}